<%- include('parts/html-head') %>
<%- include('parts/html-navbar') %>

<div class="container">
  <h1>Hello <%= name %></h1>
</div>

<%- include('parts/html-scripts') %>
<%- include('parts/html-tail') %>
