<%- include('../parts/html-head') %> <%- include('../parts/html-navbar') %>
<style>
  b {
    color: red;
  }

  div.likes {
    display: inline-block;
    color: red;
    cursor: pointer;
  }
  div.likes.liked i.fa-solid.fa-heart {
    display: inline-block;
  }
  div.likes i.fa-solid.fa-heart {
    display: none;
  }

  div.likes.liked i.fa-regular.fa-heart {
    display: none;
  }
  div.likes i.fa-regular.fa-heart {
    display: inline-block;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-8">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% for(let i= page-5; i<= page+5; i++) if(i>=1 && i<=totalPages){
          const qs = {...query}; qs.page = i; %>
          <li class="page-item <%= i==page ? 'active' : '' %>">
            <a class="page-link" href="?<%- new URLSearchParams(qs) %>"
              ><%= i %></a
            >
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
    <div class="col-4">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="keyword"
          value="<%= keyword %>"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <select class="form-select" onchange="doSort(event)">
        <option value="al_id-desc">流水號降冪</option>
        <option value="al_id-asc">流水號升冪</option>
        <option value="birthday-desc">生日降冪</option>
        <option value="birthday-asc">生日升冪</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>編號</th>
            <th>活動名稱</th>
						<th>活動相片</th>
            <th>運動類型</th>
            <th>活動地址</th>
            <th>地點名稱</th>
            <th>活動時間</th>
            <th>報名期限</th>
            <th>活動費用</th>
            <th>需求人數</th>
            <th>活動簡介</th>
            <th>開團者</th>
            <th>創建時間</th>
            <th>更新時間</th>
            <th>修改</th>
            <th>刪除</th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows){ %>
            <tr>
              <td class="al_id"><%= r.al_id %></td>
              <td class="activity_name"><%= r.activity_name %></td>
              <td>
              <% if(r.avatar){ %>
              <img src="/imgs/<%= r.avatar %>" alt="" width="100px" />
              <% } else { %>
              <img src="/imgs/unnamed.png" alt="" width="100px" />
              <% } %>
              </td>
              <td><%= r.sport_name %></td>
              <td><%= r.area_name %></td>
              <td><%= r.address %></td>
              <td><%= r.activity_time %></td>
              <td><%= r.deadline %></td>
              <td><%= r.payment %></td>
              <td><%= r.need_num %></td>
              <td><%= r.introduction %></td>
              <td><%= r.name %></td>
              <td><%= r.create_time %></td>
              <td><%= r.update_time %></td>
              
              <td><a href="/activity-list/edit/<%= r.al_id %>">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a></td>
                <td><a href="#" onclick="removeItem(event)">
                  <i class="fa-solid fa-trash"></i>
                </a></td>
                
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../parts/html-scripts') %>
<script>
  const sortCombo = document.querySelector("select.form-select");

  /* 設定排序規則的選項 */
  const usp2 = new URLSearchParams(location.search);
  const ar = ["al_id-desc", "al_id-asc", "activity_time-desc", "activity_time-asc"];
  const str = usp2.get("sortField") + "-" + usp2.get("sortRule");
  if (ar.includes(str)) {
    sortCombo.value = str;
  }

  const doSort = (e) => {
    console.log(e.target.value);

    const usp = new URLSearchParams(location.search); // 保有原來的參數
    usp.delete("page"); // 刪掉 page 參數
    const sorData = e.target.value.split("-");
    usp.set("sortField", sorData[0]);
    usp.set("sortRule", sorData[1]);

    location.href = `?${usp}`;
  };

  /* 刪除功能 */
  const removeItem = async (e) => {
    e.preventDefault();
    const tr = e.target.closest("tr");
    const al_id = +tr.querySelector(".al_id").innerText;
    const activity_name = tr.querySelector(".activity_name").innerText;
    console.log({ al_id, activity_name });
    if (confirm(`是否要刪除編號: ${al_id}, 活動名稱: ${activity_name} 的資料?`)) {
      const r = await fetch(`/activity-list/api/${al_id}`, {
        method: "DELETE",
      });
      const result = await r.json();
      console.log(result);
      // debugger // 除錯用
      if (result.success) {
        location.reload(); // refresh 重整頁面
      } else {
        alert(`無法刪除 ${al_id}`);
      }
    }
  };

  const toggleLike = (e) => {
    const t = e.currentTarget; // 註冊事件的對象
    const al_id = +t.getAttribute("data-al_id");

    fetch(`/activity-list/toggle-like/${al_id}`)
      .then((r) => r.json())
      .then((obj) => {
        if (obj.success) {
          if (obj.action === "add") {
            t.classList.add("liked");
          } else {
            t.classList.remove("liked");
          }
        }
      });
  };
</script>
<%- include('../parts/html-tail') %>
